<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}MMI Space{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav class="nav">
            <img src="{{ asset('data/img/others/logo.png') }}" alt="logo" class="nav__logo">
            <div class="nav__menu">
                <img src="{{ asset('data/svg/menu-icon.svg') }}" alt="menu-icon" class="nav__menu__icon">
            </div>
            <div class="nav__user">
                <img src="{{ asset('data/img/others/user.png') }}" alt="user" class="nav__user__image">
                <span class="nav__user__indicator"></span>
            </div>
        </nav>
        {% block body %}{% endblock %}

        {% block javascripts %}

        {% endblock %}
    </body>
</html>
